Adafruit-Blinka==4.0.0
adafruit-circuitpython-busdevice==4.2.1
adafruit-circuitpython-lsm9ds1==2.0.6
Adafruit-PlatformDetect==2.2.0
Adafruit-PureIO==1.0.4
circuitpython-build-tools==1.4.1
Click==7.0
pyftdi==0.43.0
pyserial==3.4
pyusb==1.0.2
semver==2.9.1
spidev==3.4
sysv-ipc==1.0.1
